{% extends 'base.html.twig' %}
{% form_theme formForgotPassword 'bootstrap_4_layout.html.twig' %}
{% block title %}Forgot password{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/custom.css">
    <style>
        .btn-success {
            display:block;margin:50px auto;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container formcentre">
        <div class="row justify-content-md-center">
            <h1>Réinitialisation du mot de passe</h1>
            <div class="col-md-6">
                    {{ form_start(formForgotPassword) }}
                    {{ form_widget(formForgotPassword) }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </div>
                    {{ form_end(formForgotPassword) }}
            </div>
        </div>
    </div>
    </div>
    </div>
{%  endblock %}
