{% extends 'base.html.twig' %}
{% form_theme formForgotPassword 'bootstrap_4_layout.html.twig' %}
{% block title %}Forgot password{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/custom.css">
{% endblock %}
{% block body %}
    <div class="container formcentre">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
    {{ form_start(formForgotPassword) }}

    {{ form_widget(formForgotPassword) }}

    {{ form_end(formForgotPassword) }}
            </div>
        </div>
    </div>
    </div>
    </div>
{%  endblock %}
