{% extends 'base.html.twig' %}
{% form_theme formResetPassword 'bootstrap_4_layout.html.twig' %}
{% block title %}Reset password{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/custom.css">
{% endblock %}
{% block body %}
    <div class="container formcentre">
        {{ form_start(formResetPassword) }}

        {{ form_widget(formResetPassword) }}
        <button type="submit" class="btn btn-success">Réinitialiser</button>
        {{ form_end(formResetPassword) }}
    </div>
    </div>
    </div>
{%  endblock %}
