{%  extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 300px">
        <div class="row">
            <div class="col-sm-12">
                <div class="show-article-container p-3 mt-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="show-article-title-container d-inline-block pl-3 align-middle">
                                <span class="show-article-title ">Cette page n'existe pas</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{%  endblock %}