{%  extends 'base.html.twig' %}
{% block title %}Erreur 404{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/custom.css">
{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 300px">
        <div class="row">
            <div class="col-sm-12">
                <div class="show-article-container p-3 mt-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="show-article-title-container align-middle">
                                <div>
                                <span class="show-article-title align-middle text-center nonexists">Cette page n'existe pas</span>
                                <img src="../../images/fall.jpg" class="img-fluid fall"/>
                                </div>
                                <button class="btn btn-primary btn404" href="{{ path('homepage') }}">Retour à l' accueil</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}