{%  extends 'base.html.twig' %}
{% form_theme formAddTrick 'bootstrap_4_layout.html.twig' %}
{% block title %}Ajout Trick{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/custom.css">
{% endblock %}
{% block body %}
    <h1>Ajouter un nouveau trick</h1>

    <div class="container formcentre">
        <div class="row justify-content-md-center">
            <div class="col-sm-8">

    {{ form_start(formAddTrick) }}

    {{ form_widget(formAddTrick) }}

    <button type="submit" class="btn btn-success">
      {% if editMode %}
        Mettre à jour
      {% else %}
        Ajouter
      {% endif %}

    </button>

    {{ form_end(formAddTrick) }}
            </div>
    </div>
    </div>
    </div>
    </div>
{%  endblock %}
