{% extends 'base.html.twig' %}
{% block title %}Forgot password{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/custom.css">
{% endblock %}
{% block body %}

    <div class="container formcentre" style="margin-top: 150px;">
    <div class="row" style="width:600px;">
        <div class="col-sm-12">
            <form class="form-card">
                <fieldset class="form-fieldset">
                    <legend class="form-legend">Mot de passe oublié</legend>
                    <div class="form-element form-input">
                        <input id="email" class="form-element-field" name="email" placeholder="Entrez votre Email" type="email" required/>
                        <div class="form-element-bar"></div>
                        <label class="form-element-label" for="name">Email</label>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button class="form-btn" type="submit">Envoyer</button>
                    <button class="form-btn-cancel -nooutline" type="reset">Effacer</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>
    </div>
{%  endblock %}
