{%  extends 'base.html.twig' %}

{% block body %}

    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Snowtricks</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Le snowboard dans tous ces états</h2>
                <a href="#about" class="btn btn-primary js-scroll-trigger">Voir plus</a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Qui sommes-nous ?</h2>
                    <p class="text-white-50" style="color : #fff;">Snowtricks est un site collaboratif dédié à la pratique du snowboard. Vous y trouverez
                    les tricks principaux et les conseils pour les réussir. Présentation de tricks, échanges et partages constituent la base
                        de ce lieu incontournable : bonne visite !
                    </p>
                </div>
            </div>
            <img src="img/ipad.png" class="img-fluid" alt="">
        </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
        <div class="container">

            <!-- Featured Project Row -->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7">
                    <img class="img-fluid mb-3 mb-lg-0" src="images/grab.jpg" alt="">
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Grab</h4>
                        <p class="text-black-50 mb-0">Un grab consiste à attraper la planche avec la main pendant le saut. Le verbe anglais to grab signifie « attraper. »</p>

                    </div>
                    <hr>
                    <a href="{{ path('app_trickpage') }}" class="btn btn-primary js-scroll-trigger pull-right">Voir plus</a>
                </div>
            </div>


    </section>

{%  endblock %}