{%  extends 'base.html.twig' %}

{% block body %}

    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Snowtricks</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Le snowboard dans tous ces états</h2>

            </div>
            <a href="#tricks" class="js-scroll-trigger"><i class="fa fa-arrow-down fa-2x" style="position: absolute; right: 30px; bottom: 80px; color: #fff;"></i></a>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Qui sommes-nous ?</h2>
                    <p class="text-white-50" style="color : #fff;">Snowtricks est un site collaboratif dédié à la pratique du snowboard. Vous y trouverez
                    les tricks principaux et les conseils pour les réussir. Présentation de tricks, échanges et partages constituent la base
                        de ce lieu incontournable : bonne visite !
                    </p>
                </div>
            </div>
            <img src="img/ipad.png" class="img-fluid" alt="">
        </div>
    </section>

    <!-- Projects Section -->
    <section id="tricks" class="projects-section bg-light">
        <div class="container">
            <div class="row" style="margin: 0 auto;width: 100%;">

            {% for trick in tricks %}
                <div class="col-md-offset-2"></div>
                    <div class="col-md-2 col-xs-12" style="border:2px solid black; margin: 5px;">
                        <a href="#">
                        <div class="md-12">
                            <img src="https://assets.vogue.com/photos/5892046d186d7c1b6493d0cb/master/pass/embed-silje-norendal-snowboard-cold-weather-beauty-products.jpg" class="img-fluid" />
                        </div>
                        {{ trick.name }}
                        </a>
                        {% if (0 == 1) %}
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash"></i></a>
                        {% endif %}
                    </div>


            {% endfor %}
            </div>
        </div>


    </section>
    <section>
        <div class="container">
            <ul>
                <li>5 tricks par ligne (image avec le nom en-dessous, un stylo et une corbeille si l'utilisateur est connecté).</li>
                <li>Sur mobile, il doit y avoir un trick par ligne.</li>
                <li>Une fenêtre modale doit apparaître quand on veut supprimer un trick.</li>
                <li>Quand plus de 15 tricks sont chargés, une flèche, en bas à droite, doit nous permettre de remonter au début des tricks...</li>
            </ul>
        </div>

    </section>

{%  endblock %}