{%  extends 'base.html.twig' %}
{% form_theme formModifyTrick 'bootstrap_4_layout.html.twig' %}
{% block title %}Modifier un trick{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/custom.css">
{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 150px;">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-card">
                <fieldset class="form-fieldset">
                    <legend class="form-legend">Modifier une figure</legend>
                    <div class="form-element form-input">
                        <input id="name" class="form-element-field" name="name" placeholder="" type="input" required/>
                        <div class="form-element-bar"></div>
                        <label class="form-element-label" for="name">Nom</label>
                    </div>
                    <div class="form-element form-input">
                        <input id="category" class="form-element-field" type="input" placeholder="" required />
                        <div class="form-element-bar"></div>
                        <label class="form-element-label" for="category">Catégorie</label>
                    </div>
                    <div class="form-element form-input">
                        <textarea id="description" class="form-element-field" placeholder="" type="text" required/></textarea>
                        <div class="form-element-bar"></div>
                        <label class="form-element-label" for="description">Description</label>
                    </div>
                    <div class="form-element">
                        <button>Ajouter images</button>
                    </div>
                    <div class="form-element">
                        <button>Ajouter videos</button>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button class="form-btn" type="submit">Publier</button>
                    <button class="form-btn-cancel -nooutline" type="reset">Effacer</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <h2 class="text-center">Formulaire fait avec Symfony</h2>
    <div class="container formcentre">

        {{ form_start(formModifyTrick) }}

        {{ form_widget(formModifyTrick) }}

        {{ form_end(formModifyTrick) }}
    </div>
    </div>
    </div>
{%  endblock %}
