{% extends 'base.html.twig' %}
{% form_theme formResetPassword 'bootstrap_4_layout.html.twig' %}
{% block title %}Reset password{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/custom.css">
{% endblock %}
{% block body %}

    <div class="container formcentre">
    <div class="row" style="width:600px;">
        <div class="col-sm-12">
            <form class="form-card">
                <fieldset class="form-fieldset">
                    <legend class="form-legend">Réinitialiser mon mot de passe</legend>
                    <div class="form-element form-input">
                        <input id="password" class="form-element-field" type="password" name="password" required />
                        <div class="form-element-bar"></div>
                        <label class="form-element-label" for="password">Mot de passe</label>
                    </div>
                    <div class="form-element form-input">
                        <input id="password" class="form-element-field" type="password" name="password" required />
                        <div class="form-element-bar"></div>
                        <label class="form-element-label" for="password">Confirmez votre nouveau mot de passe</label>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button class="form-btn" type="submit">Envoyer</button>
                    <button class="form-btn-cancel -nooutline" type="reset">Effacer</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <div class="container formcentre">
        {{ form_start(formResetPassword) }}

        {{ form_widget(formResetPassword) }}

        {{ form_end(formResetPassword) }}
    </div>
    </div>
    </div>
{%  endblock %}
