{%  extends 'base.html.twig' %}
{% form_theme formSignup 'bootstrap_4_layout.html.twig' %}
{% block title %}S'inscrire{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/custom.css">
{% endblock %}
{% block body %}

    <div class="container formcentre">
    <div class="row" style="width:600px;">
        <div class="col-sm-12">
            <form class="form-card">
                <fieldset class="form-fieldset">
                    <legend class="form-legend">Inscription</legend>
                    <div class="form-element form-input">
                        <input id="name" class="form-element-field" name="pseudo" placeholder="Entrez un pseudo" type="input" required/>
                        <div class="form-element-bar"></div>
                        <label class="form-element-label" for="name">Pseudo</label>
                    </div>
                    <div class="form-element form-input">
                        <input id="email" class="form-element-field" name="email" placeholder="Entrez votre email" type="email" required/>
                        <div class="form-element-bar"></div>
                        <label class="form-element-label" for="email">Email</label>
                    </div>
                    <div class="form-element form-input">
                        <input id="password" class="form-element-field" type="password" name="password" required />
                        <div class="form-element-bar"></div>
                        <label class="form-element-label" for="password">Mot de passe</label>
                    </div>
                    <div class="form-element form-input">
                        <input id="password2" class="form-element-field" type="password" name="password2" required />
                        <div class="form-element-bar"></div>
                        <label class="form-element-label" for="password2">Confirmez votre Mot de passe</label>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button class="form-btn" type="submit">Envoyer</button>
                    <button class="form-btn-cancel -nooutline" type="reset">Effacer</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <div class="container formcentre">

        {{ form_start(formSignup) }}

        {{ form_widget(formSignup) }}

        {{ form_end(formSignup) }}
    </div>
    </div>
    </div>
{%  endblock %}
